spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/dev
    username: eric
    password: 3r1c
  #Disabling contextual LOB creation as createClob() method threw error
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
  data:
    rest:
      basePath: /api
  config:
    activate:
      on-profile: dev
  sql:
    init:
      platform: POSTGRESQL
server:
  port: 8081